*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #A31ACB;
}
.container{
    user-select: none;
}

.container .time{
    height: 100px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 17px 17px 20px #78009d;
    padding: 0px 10px;
}

.container .time span{
    width: 100px;
    text-align: center;
    font-size: 50px;
    color: rgb(47, 47, 47);
}

.container .time .colon{
    width: 10px;
}

.time span.ms-colon,
.time span.millisecond{
    color: #A31ACB;
}

.container .buttons{
    text-align: center;
    margin: 20px 10px;
    
}

.buttons button{
    padding: 6px 16px;
    outline: none;   
    border: none;
    margin: 0 20px;
    color: #A31ACB;
    font-size: 19px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 15px 15px 20px #78009d;
    transition: 0.5s;
}

.buttons button.active,
.buttons button.stopActive{
    cursor: not-allowed;
    opacity: 0.9;
}
